<h1> Entries </h1>

<div class="row-fluid">
  <div id="content" style="float: left;" class="span12"></div> 
</div>

  <%- User.omniauth_providers.each do |provider| %>
    <% unless current_user.authentications.map(&:provider).include?(provider.to_s) %> 
      <%= link_to "Connect your with #{provider.to_s.titleize}", omniauth_authorize_path(current_user, provider) %><br />
    <% end %> 
  <% end -%>

<script type="text/javascript">
  $(function () {

    var feedsData = <%= Feed.all.to_json.html_safe %>;
    var entriesData = <%= current_user.entries.to_json.html_safe %>;

    window.FR.initialize(
      $("#content"),
      feedsData,
      entriesData
    );
  });

</script>