<div class='row social-buttons'>
	<%- if devise_mapping.omniauthable? %>
	  <%- resource_class.omniauth_providers.each do |provider| %>
	  <div class="span4">
	  <% image = "flat_#{provider}.png"%>
	   <%= link_to image_tag(image, :class => "social_sign_in #{provider}_sign"), omniauth_authorize_path(resource_name, provider) %> 
   	  </div>
	  <% end -%>
	<% end -%>
</div>
