<img src=<%= embedly_data.escape("icon_url") %> width='20' height='20'> 
<strong> <%= embedly_data.escape("title") %> </strong> <button class="submit-feed"> Add </button>
<br> <small> <%= embedly_data.escape("description") %> </small>
