
<div class="span8 offset2 batch-instructions-container">
  <div class="row batch-instructions-title"> Click on Articles You Want to Share </div>
  <div class="row batch-instructions-body"> 
    <textarea class='batch-input' placeholder='Enter your message here'>Articles of the Day:</textarea> 
  </div> 
</div>
  