<div class="batch-container">
  <div class="row-fluid">
    <div class="span8 offset2 batch-instructions-container">
      <div class="row-fluid">
      <input class='batch-enter-email' placeholder='Enter an email to add to sending list'>
    </div>
      <div class="row-fluid tags-list"></div> 
    </div>
  </div>

  <div class="row-fluid">
    <div class="span8 offset2 batch-instructions-container">
      <div class="row batch-instructions-title"> Click on articles and add them to the message below </div>
      <div class="row batch-instructions-body"> 
        <textarea class='batch-input' placeholder='Enter your message here'>Good articles I read today:</textarea> 
      </div> 
      <div class="row batch-submit"> 
        <div class="span3 batch-password-span">
          <button class="submit-batch-share">Send Email Now</button>
        </div>
      </div>
    </div>
  </div>
</div>

