<img src=<%= entry.escape("image") %> width='150' height='150'> 
<strong> <%= entry.escape("title") %> </strong> <button class="submit-post"> Post </button>
<br> <small> <%= entry.escape("description") %> </small>
<textarea class="Post"></textarea>
