
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);

#sidebar {
	float: left;
	max-width: 200px;
	font-size: 12px;
}

.ui-helper-hidden-accessible { display:none; }

.navbar {
     background-color: #34495e;
     height: 50px;  
      font-family: 'Open Sans', sans-serif;
      font-weight: lighter;  
      text-shadow: none;
      color:white ;
}

.nav {
   text-shadow: none;  
}

.entry-input {
     margin-left: 50px;
}
.navbar .nav > li > a {
     text-shadow: none;
     color: white;
     padding-top: 13px;
}

.navbar .nav > li > a:hover {
     color: #1ABC9C;
     text-decoration: none;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }

.add-follower-input {
     float:right;
     border: none;
     margin-right: 50px;
}

.container-fluid {
     padding-left: 0px;
     padding-right: 0px;
     height: 100%;
}

.follow {
     float:right;
}

#logout-link {
     float:right;
}

.add-reading-list {
     background-color: #16A085;
     color: white;
     box-shadow: none;
     border: none;
}


.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */


  