#sidebar {
	float: left;
	max-width: 200px;
	font-size: 12px;
}

.ui-helper-hidden-accessible { display:none; }

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }

.add-follower-input {
     float:right;
}
/*
.ui-menu-item {
     background: #34495e;
     color: white;
}

.ui-corner-all {
     text-decoration: none;
     color: white;
}

#follower-add {
     background-color: #34495E;
     color: white;
}*/

.follow {
     float:right;
}
     


.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */