.news_feed {
	border: 30px;
}

img.news_feed {
	width: 100%;
	padding-top: 10px;
}

.right-side {
	padding-top: 15px;
	vertical-align: center;
	display: inline-block;
	min-height: 100%;
}


.left-side {
	width: 100%;
}

/*.row.feed {
	display: block;
}*/

.panel {
	padding: 20px;
	box-shadow:  2px 2px 2px 1.5px #888888;
	margin: 20px;
	min-height: 300px;
}

.score_criteria {
	color: #2980B9;
	float: right;
}

.panel:hover {
	box-shadow:  4px 4px 4px 1px #888888;
	background-color: #ECF0F1;
}

a.title-post {
	font-size: 30px;

	color: #16A085;
}

.postname { 
	font-size: 14px;
	color: black;
	font-weight: bold;
	font-weight: bold;
}

.post:hover {
}

a.title-post:hover {
	text-decoration: none;
}

