      <div class="span3 batch-password-span">
        <input class='batch-password' type="password" placeholder=" Confirm Gmail Password">
      </div>
      <div class="span3">
      	<button class="confirm-password">Confirm and Send</button>
      </div>
    </div>