<div class='span8 offset2 input-nav-bar'>
	<div class="span8">
		<input class='entry-input' id='entry-input' type='text' value='' placeholder='Share article here'>
	</div>
	<div class="span2">
		<button class='batch-share'>Batch Share</button>
	</div>
	<div class="span2">
		<button class='format2'>List View</button>
	</div>
</div>