  <div class="navbar">
    <div class="container n-container"> 
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
          <ul class="nav">
          <li>
            <a href="">
              Share Articles
              <span class="navbar-unread">1</span>
            </a>
          </li>
          <li class="">
            <a href="/#/news_feed">
              News on Social
              <span class="navbar-unread">1</span>
            </a> 
          </li>
          <li class="">
            <a href="/#/following_news">
              People you Follow
              <span class="navbar-unread">1</span>
            </a> 
          </li>
          <li>
            <a href="/#/reading_list">
             Your Reading List
              <span class="navbar-unread">1</span>
            </a>
          </li>
          <li>
              <a href="/users/logout" id="logout-link">
                Log Out
                <span class="navbar-unread">1</span>
              </a> 
          </li>
          </ul>
      </div>
    </div>