      <div class="tooltip tooltip-email fade bottom in delete-me" style="display: block"><div class="tooltip-arrow email" style=""></div><div class="tooltip-inner"> <%= message %> <span class='delete'>  x</span></div></div>
